body {
    background-color: #495B71;
    margin: 0;
    padding: 0;
    font-family: Candara, Verdana, sans-serif;
    max-height: 100%;
    header {
        display: flex;
        background-color: #C0C7CF;
        align-items: center;
        text-align: center;
        width: 100%;
        top: 0;
        z-index: 100;
        .header_img {
            padding: 0 10vw 0 10vw;
            width: 5vw;
            height: 4vh;
            filter: drop-shadow(1vw 0.5vh 5px rgba(0 0 0 / 30%));
        }

        .header_siteName {
            padding: 0 10vw 0 10vw;
            flex-grow: 1;
            color: #01060A;
            font-size: 1.5vw;
            filter: drop-shadow(1vw 1vh 5px rgba(0 0 0 / 30%));
        }
    }
    main {
        background-color: #495B71;
        color: #C89365;
        display: flex;
        flex-direction: column;
        .navigation_list {
            height: 10vh;
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            margin: 0;
            padding: 0;
            text-align: center;

            .navigation_list_buttonType {
                a:link, a:visited, a:active {
                    text-decoration: none;
                    color: #C0C7CF;
                    filter: drop-shadow(1vw 0.5vh 5px rgba(0 0 0 / 30%));
                }
                a:hover{
                    color: #FCFDFF;
                    text-decoration: underline;
                }

                display: flex;
                justify-content: center;
                align-items: center;
                border: 2px solid #01060A;
                background-color: #495B71;
                font-size: 2vw;
                width:25%;
                filter: drop-shadow(1vw 1vh 5px rgba(0 0 0 / 30%));
            }
            .active_navigation_list_button_type {
                a:link, a:visited, a:active {
                    text-decoration: none;
                    color: #01060A;
                    filter: drop-shadow(1vw 0.5vh 5px rgba(0 0 0 / 30%));
                }
                display: flex;
                justify-content: center;
                align-items: center;
                border: 2px solid #01060A;
                background-color: #495B71;
                font-size: 2vw;
                width:25%;
                filter: drop-shadow(1vw 1vh 5px rgba(0 0 0 / 30%));
            }
        }

        .my_introduction{
            display: flex;
            flex-direction: column;
            text-align: center;
            border: 5px solid #01060A;
            h2 {
                margin: 0;
                padding: 0;
                font-size: 2vw;
                filter: drop-shadow(2vw 2vh 5px rgba(0 0 0 / 30%));
                font-weight: lighter;
            }
            .my_introduction__my_picture{
                justify-content: center;
                align-items: center;
            }
            img {
                width: 20vw;
                height: 20vw;
                filter: drop-shadow(1vw 1vh 5px rgba(0 0 0 / 30%));
            }
            article {
                display: flex;
                justify-content: center;
                font-size: 1.1vw;
                filter: drop-shadow(1vw 1vh 5px rgba(0 0 0 / 30%));
                line-height: 2vh;
            }
        }
        .my_favourite_films{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            border: 5px solid #01060A;
            h2{
                margin: 0;
                padding: 0;
                font-size: 2vw;
                filter: drop-shadow(1vw 1vh 5px rgba(0 0 0 / 30%));
            }
            ol{
                display: flex;
                flex-direction: row;
                list-style-position: inside;

                font-size: 1.5vw;
                filter: drop-shadow(1vw 1vh 5px rgba(0 0 0 / 30%));
                .my_favourite_films__crossed {
                    margin: 0;
                    padding: 0;
                    display: inline;
                    text-decoration: line-through;
                }
                .my_favourite_films__underlined{
                    margin: 0;
                    padding: 0;
                    text-decoration: underline;
                }
            }
            .my_favourite_films__secret_materials_pic{
                width: 30%;
            }
            .my_favourite_films__gentleman_pic{
                width: 50%;
            }
            .my_favourite_films__12_angry_man_pic{
                width: 50%;
            }
            aside{
                display: none;
            }
            @media (min-width: 1001px) {
                aside{
                    display: block;
                    filter: drop-shadow(1vw 1vh 5px rgba(0 0 0 / 30%));
                    margin: 0 0 0 auto;
                    width: 30%;
                    text-align: right;
                    white-space: pre-wrap;
                    a:link, a:visited, a:hover, a:active {
                        text-decoration: none;
                        color: #C0C7CF;
                        filter: drop-shadow(1vw 0.5vh 5px rgba(0 0 0 / 30%));
                    }
                }
             }

        }
        .other_films{
            border: 5px solid #01060A;
            display: grid;
            grid-template-columns: auto auto auto;
            grid-auto-flow: row;
            gap: 1px;
            font-size: 1vw;
            .odd_line{
                border: 1px solid #01060A;
            }
            .even_line{
                border: 1px solid #C0C7CF;
            }
        }
        .my_favourite_cartoon {
            display: flex;
            flex-direction: column;
            text-align: center;
            border: 5px solid #01060A;
            font-size: 1vw;
            filter: drop-shadow(1vw 1vh 5px rgba(0 0 0 / 30%));
            .my_favourite_cartoon__introduction {
                margin: 0;
                padding: 0;
                font-size: 2vw;
            }
            .my_favourite_cartoon__ascii_print{
                margin: 0;
                padding: 0;
                font-family: monospace;
                white-space: pre;
            }
            a:link, a:visited, a:hover, a:active {
                text-decoration: none;
                color: #C0C7CF;
            }
        }
        .feedback {
            display: flex;
            flex-direction: column;
            text-align: center;
            font-size: 2vw;
            border: 5px solid #01060A;
            filter: drop-shadow(1vw 1vh 5px rgba(0 0 0 / 30%));
            label {
                margin: 0;
                padding: 0;
            }
            .feedback__feedback_field{
                width: 80vw;
                font-size: 13px;
                padding: 6px 0 4px 10px;
                border: 1px solid #cecece;
                border-radius: 8px;
                margin: 1vw auto;
            }
        }
        .footer_with_my_contacts{
            display: flex;
            flex-direction: column;
            text-align: left;
            font-size: 1vw;
            border: 5px solid #01060A;
            filter: drop-shadow(1vw 1vh 5px rgba(0 0 0 / 30%));
            q{
                text-transform: capitalize;
            }
        }
    }
}


